@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --font-nanum: "NanumMyeongjo", serif;
  --font-sansKR: "NotoSansKR", sans-serif;
}

:root {
  --color-bg: #f9f9f9;
  --color-border: #d4d7b8;
  --color-primary: #693a26;
  --color-secondary: #816458;
  --color-accent: #a9ae9b;

  --font-serif: "NanumMyeongjo", serif;
  --font-sans: "NotoSansKR", sans-serif;

  --spacing-section: 2rem;
  --spacing-gap: 1rem;
}

html {
  margin: 0;
  padding: 1rem;
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  border: 0.75rem solid var(--color-border);
  /*font-family: var(--font-sans);*/
  color: var(--color-secondary);
}

.name {
  /*font-family: var(--font-serif);*/
}

.date {
  font-family: var(--font-serif);
  color: var(--color-accent);
}

.divider {
  height: 2px;
  background-color: var(--color-accent);
}

.event-title {
  font-family: var(--font-serif);
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
